*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 80%;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/* regole impostazione */
.product{
    float: left;
    width: calc(100% / 3);
    text-align: left;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}
img{
    width: 100%;
}

.hover{
    display: none;
}

.product:hover .hover{
    display: inline-block;
}

.discount{
    padding: 3px;
    font-size: 15px;
    background-color: red;
    position: absolute;
    bottom: 100px;
    left: 0;
}
.sostenibilita{
    padding: 3px;
    font-size: 15px;
    background-color: green;
    position: absolute;
    bottom: 100px;
    left: 65px;
}
span{
    color: red;
}

.cuore{
    color: black;
    position: absolute;
    width: 100%;
    left: 95%;
    top: 2%;
    background-color: white;
    margin: 1px;
    padding: 2px;
}